@using Microsoft.AspNetCore.Components.Routing

<div class="top-row ps-3 navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Biblioteca</a>
    </div>
</div>

<div class="nav flex-column nav-pills">
    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Inicio</NavLink>
    <NavLink class="nav-link" href="/libros">Libros</NavLink>
</div>
